[user]
	name = nathanautrique
	email = 66000042+nathanautrique@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = vim
[pull]
	rebase = true
[rerere]
	enabled = true
[credential "https://github.com"]
	helper = 
	helper = !/home/autri/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/autri/.local/bin/gh auth git-credential
